

.header,
.footer {
    background-color: $header;
}

.menu-icon,
.search-icon,
.user-icon,
.shop-icon,
.menu__panel-cross {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.menu-icon {
    background-image: url($menu-icon);
}

.menu__panel {
    background-color: white;
    transition: left 1s;
}

.menu__link {
    color: white;
}

.menu__panel-cross {
    background-image: url($cross-icon);
}

.aside__title::after {
    background-color: gray;
}

.aside__subtitle {
    background-color: $gray;
}

.product-item__img-container::after {
    background-color: gray;
}

.search-icon {
    background-image: url($search-icon);
}

.user-icon {
    background-image: url($user-icon);
}

.shop-icon {
    background-image: url($shop-icon);
}

.footer__menu-link {
    color: white;
}