

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @media screen and (min-width: map-get($breakpoints, large)){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content 1fr min-content;
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    grid-column: span 4;

    @media screen and (min-width: map-get($breakpoints, large)){
        flex-direction: column;
    }
}

.menu-icon,
.search-icon,
.user-icon,
.shop-icon {
    width: 25px;
    height: 25px;
    margin: .5em;
}

.search-icon,
.user-icon {
    display: none;

    @media screen and (min-width: map-get($breakpoints, large)){
        display: block;
    }
}

.menu {
    display: none;

    @media screen and (min-width: map-get($breakpoints, medium)){
        display: block;
    }
}

.menu__list {
    display: flex;
}

.menu__item {
    padding-left: 1em;
    padding-right: 1em;
}

.menu-icon {
    @media screen and (min-width: map-get($breakpoints, medium)){
        display: none;
    }
}

.menu__panel {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vw;
    z-index: var(--z-menu);
}

.menu__panel-cross {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
}

.menu__icons {
    @media screen and (min-width: map-get($breakpoints, large)){
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
    }
}

.aside {
    display: none;

    @media screen and (min-width: map-get($breakpoints, large)) {
        display: flex;
        flex-direction: column;
        padding-left: 5em;
    }
}

.aside__title {
    position: relative;
}

.aside__subtitle {
    display: block;
    padding: .3em;
}

.aside__title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    grid-column: span 3;

    @media screen and (min-width:(map-get($breakpoints, large))) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.product-item__img-container {
    position: relative;
}

.product-item__img-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.footer {
    grid-column: span 4;
    grid-row: 3;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;

    @media screen and (min-width: map-get($breakpoints, large)) {
        flex-direction: row;
    }
}

.footer__menu-item {
    margin: .5em;
}

.footer__menu-item {
    padding-bottom: .5em;
}