

:root {
    --z-normal: 1;
    --z-menu: 10;
}

$header: #100217;
$gray: #E4E8EE;

$menu-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1609016041/Demos/hamburguesa_y3lqff.svg';
$shop-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1609016041/Demos/carrito_osyavt.svg';
$cross-icon: 'https://icon-library.com/images/x-png-icon/x-png-icon-25.jpg';
$search-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1609127871/Demos/busqueda_t9nn5j.svg';
$user-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1609127871/Demos/usuario_bwb0qr.svg';

$breakpoints: (
    small: 600px,
    medium: 900px,
    large: 1200px,
); 